.header {
    display: flex;
    background: pink;
    flex-wrap: wrap;

    .top-bar {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .logo {
            height: 3rem;
            width: 3rem;
            margin: 2rem 0 0 2rem;
            background: blue;
        }

        nav {
            margin: 2rem 2rem 0 0;

            a {
                font-size: 2.5rem;
                padding-right: 2rem;
                color: green;
            }
        }
    }

    span {
        // position: absolute;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: -5rem auto -20rem;
        border: 15px solid pink;
        background: pink;
        border-radius: 1rem;

        img {
            height: 25rem;
            width: 25rem;
            background: orange;    
            border-radius: 1rem;
        }

        h1 {
            padding-top: 20px;
            margin-top: 10px;
            background: pink;
            text-align: center;
            color: black;
            font-size: 3.5rem;;
        }
    }
}