.container {
    width: 100%;
    background: lavender;
    display: flex;
    justify-content: space-between;
    margin-top: 25rem;

    .recommended {
        width: 20%;
        background: purple;
    }

    .main-content {
        width: 50%;
        background: darkgoldenrod
    }

    .ads {
        width: 20%;
        background: darkseagreen;
    }
}