.container {
    width: 100%;
    background: lavender;
    display: flex;
    justify-content: space-between;
    margin-top: 25rem;

    .recommended {
        width: 20%;
        background: purple;
    }

    .main-content {
        width: 50%;
        background: darkgoldenrod;

        .post-example {
            background: lightsalmon;
            border-radius: 0.5rem;
            margin-bottom: 1rem;

            .post-info {
                display: flex;
                align-items: center;
                padding: 1rem 0 0 1rem;

                h1 {
                    margin: 0 0 0 1rem;
                    font-size: 1.5rem;
                }
            }

            .post-content {
                padding: 1rem 0 1rem 1rem;

                p{
                    font-size: 1.25rem;
                    margin: 0 0 1rem 0;
                }
            }
        }
    }

    .ads {
        width: 20%;
        background: darkseagreen;
    }
}